:root {
    --color-lochmara: #0188D1;
    --color-pacific-blue: #02B6B3;
    --color-alabaster: #fcfcfc;
    --color-boulder: #7C7C7C;
    --color-dove-gray: #666666;
    --color-mine-shaft: #333333;
    --color-white: #FFFFFF;
    --color-onahau: #D1EEFF;
    --color-cornflower-blue: #58A4EF;
    --color-scorpion: #606060;

	--color-background-gradient-1: linear-gradient(180deg, var(--color-lochmara)  0%, var(--color-pacific-blue) 100%) 0% 0% no-repeat padding-box;
	--color-background-gradient-2: linear-gradient(180deg, var(--color-alabaster) 0%, var(--color-onahau) 100% ) 0% 0% no-repeat padding-box;
}

html,body {
    font-family: Microsoft JhengHei;
    font-size: 14px;
}

@media screen and (max-width:375px) {
    html,body {
        font-size: 12px;
    }
}

.divider{
    width: 3rem;
    height: 1px;
    background: #B8B8B8;
    margin: 1rem 0;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
}

.nav{
    box-shadow: 0px 2px 5px #00000029;
    position: relative;
}
.nav::before{
    content: "";
    background: var(--color-background-gradient-1);
    height: 5px;
    display: block;
}
.nav__content,.nav__content__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.nav__content__items a{
    color:var(--color-dove-gray);
    text-decoration: none;
}
.nav__content__items a:not(:nth-last-of-type(1))::after{
    content: "|";
    padding-left: 0.5rem;
}
.nav__content__btns{
    display: flex;
    gap:0.5rem;
}

.nav__content__items.xs {
    display: none;
}
@media screen and (max-width:768px) {
    .nav__content__items.md {
        display: none;
    }
    .nav__content__items.xs {
        display: block;
    }  
}

.jumbotron{
    min-height: 500px;
    overflow: hidden;
    background-image: url('./business-g7dbf2c5b0_1920.jpg');
    background-size: cover;
    background-position-x: right;
}
.jumbotron h1,h2 {
    margin: 1rem auto;
}
.jumbotron h1 {
    color: var(--color-lochmara);
    font-size: 4rem;
}
.jumbotron h2 {
    color: var(--color-mine-shaft);
    font-size: 2rem;
}
.jumbotron__icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-scorpion);
}
.jumbotron__icon{
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 10rem;
    padding: 0.5rem 1.5rem;
}
.jumbotron__icon img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}
.jumbotron__content{
    margin-top: 5rem;
}

.pills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: -3rem;
}

.pills > div{
    color: var(--color-cornflower-blue);
    display: flex;
    align-items: center;
    background: var(--color-background-gradient-2);
    box-shadow: 0px 3px 6px #00000038;

    border-radius: 10rem;
    padding: 1rem 2rem;
    flex: 0 1 250px;
}

.pills > div > i{
    font-size: 3rem;
}

.pills__text {
    color: var(--color-dove-gray);
    padding: 0 2rem;
    position: relative;
}

.pills__text:before {
    content: "";
    display: block;
    border-left: 1px dashed var(--color-dove-gray);
    position: absolute;
    height: 100%;
    top: 0;
    left: 1rem;
}

section {
    color: var(--color-dove-gray);
}

section h1 {
    margin: 0;
    color: var(--color-mine-shaft);
}

section h1,p{
    text-align: center;
}

section .title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
section .title.vertical{
    flex-direction: column;
}

/* activity */
div.activityCard {
    display: flex;
    flex-wrap: wrap;
    background-color: #ecf8ff;
    border-radius: 1rem;
    min-height: 250px;
    overflow: hidden;
    margin: 1.5rem 0;
}
div.activityCard:nth-of-type(odd){
    flex-direction: row-reverse;
}
.activityCard__img {
    background-position: center;
    background-size: cover;
    flex: 1 0 500px;
    min-height: 200px;
}
.activityCard__text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 0 50%;
    padding: 1rem 4rem;
    box-sizing: border-box;
}
.activityCard__text a{
    color: var(--color-cornflower-blue);
    text-decoration: none;
}

/* notice */
ol.noticeList li{
    margin-bottom: 1rem;
}

/* footer */
footer{
    background-color: var(--color-boulder);
    color: var(--color-white);
    text-align: center;
    font-size: 0.85rem;
}

footer .links {
    margin-bottom: 1rem;
}

footer .links a:not(:last-of-type):after{
    content: "|";
    color:#DDDDDD;
    margin: 0 0.5rem;
}

/* float btns */
.floatBtn{
    position: fixed;
    right: 1rem;
    top: 50%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.floatBtn > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.floatBtn__button {
    border-radius: 100%;
    background: white;
    box-shadow: 0px 2px 5px #00000029;

    width: 5.3rem;
    min-height: 5.3rem;
}
.floatBtn__button small {
    transform: scale(0.7);
    font-weight: bold;
    white-space: nowrap;
}
.floatBtn__button img {
    width: 2.75rem;
    height: 2.75rem;
}